<%= link_to "New Article", new_article_path, class:"btn btn-default"  %>

<br> <br>

<% @article.each do |article| %>
<div class="well well-lg">
  <div class="article-title">
    <div class="article-title">
      <%= link_to article.title, article_path(article) %>
</div>
</div>
  <div class="article-body">
    <%= truncate(article.body, length: 500) %>
  </div>
</div>
<%end%>
